@links : #FE5E08;
@hover: #333333;
@color_text: #333333; 
@hover_btn: #e05308;
@color : #999999;
.shadowed {
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .2);
       -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .2);
            box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .2);
}
.border-radius-all(@radius: 3px) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
            border-radius: @radius;
}
