[% USE Koha %]
[% SET TagsShowEnabled = ( ( Koha.Preference( 'TagsEnabled' ) == 1 ) && TagsShowOnList ) %]
[% SET TagsInputEnabled = ( ( Koha.Preference( 'opacuserlogin' ) == 1 ) && ( Koha.Preference( 'TagsEnabled' ) == 1 ) && TagsInputOnList ) %]

[% INCLUDE 'doc-head-open.inc' %]
<title>[% IF ( LibraryNameTitle ) %][% LibraryNameTitle %][% ELSE %]Koha on-line[% END %] katalog &rsaquo; [% IF ( searchdesc ) %] Výsledky vyhledávání [% IF ( query_desc ) %]pro '[% query_desc | html%]'[% END %][% IF ( limit_desc ) %]&nbsp;s omezením:&nbsp;'[% limit_desc | html %]'[% END %] [% ELSE %] Nezadali jste žádná vyhledávací kritéria. [% END %]</title>
[% INCLUDE 'doc-head-close.inc' %]
[% IF ( OpacStarRatings == 'all' || Koha.Preference('Babeltheque') ) %]
 [% BLOCK cssinclude %]
 <link rel="stylesheet" type="text/css" href="[% interface %]/[% theme %]/css/jquery.rating.css" />
 [% END %]
[% END %]

<link type="application/rss+xml" href="[% OPACBaseURL %]/cgi-bin/koha/opac-search.pl?[% query_cgi | url %][% limit_cgi |uri %]&count=[% countrss |uri %]&sort_by=acqdate_dsc&format=rss2" rel="alternate" title="[% LibraryName |html %] Hledat v RSS" />
</head>

[% INCLUDE 'bodytag.inc' bodyid='results' bodyclass='scrollto' %]
[% INCLUDE 'masthead.inc' %]

 <div class="main">
 <ul class="breadcrumb">
 <li><a href="/cgi-bin/koha/opac-main.pl">Koha</a> <span class="divider">&rsaquo;</span></li>
 <li>
 [% IF ( searchdesc ) %]
 <a href="#">Výsledky vyhledávání [% IF ( query_desc ) %] '[% query_desc | html%]'[% END %][% IF ( limit_desc ) %]&nbsp;s omezením:&nbsp;'[% limit_desc | html %]'[% END %]</a>
 [% ELSE %]
 <a href="#">Nezadali jste žádné podmínky vyhledávání.</a>
 [% END %]
 </li>
 </ul>

 [% UNLESS ( total ) %]
 <div class="container-fluid maincontent">
 <div class="row-fluid">
 <div class="span12">
 <strong>Nebyly nalezeny žádné výsledky!</strong>
 <p>
 [% IF ( searchdesc ) %] V katalogu knihovny [% LibraryName %] nebyly nalezeny žádné záznamy. <a href="[% OPACBaseURL %]/cgi-bin/koha/opac-search.pl?[% query_cgi | url %][% limit_cgi | html | url %]&amp;format=rss2" class="rsssearchlink noprint"><img class="rsssearchicon" border="0" src="[% interface %]/[% theme %]/images/feed-icon-16x16.png" alt="Přihlásit se k odběru výsledků tohoto vyhledávání" title="Přihlásit se k odběru výsledků tohoto vyhledávání" /></a>
 [% ELSE %] Nezadali jste žádné podmínky vyhledávání. [% END %] </p>
 [% IF ( ReturnPath ) %]
 <div class="returntosearch">
 <p><a href="[% ReturnPath %]">Vrátit se k poslednímu pokročilému vyhledávání</a></p>
 </div>
 [% END %]
 [% IF ( OPACNoResultsFound ) %]
 <div id="noresultsfound">
 [% OPACNoResultsFound %]
 </div>
 [% END %]
 </div> <!-- / .span12 -->
 </div> <!-- / .row-fluid -->
 </div> <!-- / .container-fluid -->
 [% END # / UNLESS searchdesc %]

 <div id="maincontent" class="container-fluid">
 <div class="row-fluid">
 [% IF ( opacfacets && total ) %]
 <div class="span2">
 <div id="facetcontainer">
 <!-- FACETS START -->
 [% INCLUDE 'opac-facets.inc' %]
 <!-- FACETS END -->
 </div>
 </div>
 [% END %]

 [% IF ( opacfacets && total ) %]<div class="span10 maincontent">[% ELSE %]<div class="span12 maincontent">[% END %]

 [% IF ( searchdesc ) %]
 <p id="numresults">
 [% IF ( total ) %]<strong>Váš dotaz vrátil [% total |html %] výsledků.</strong>
 [% IF ( related ) %] (související hledání: [% FOREACH relate IN related %] [% relate.related_search %] [% END %] ). [% END %] <a href="[% OPACBaseURL %]/cgi-bin/koha/opac-search.pl?[% query_cgi | url %][% limit_cgi |html | url %]&amp;count=[% countrss |html %]&amp;sort_by=acqdate_dsc&amp;format=rss2" class="rsssearchlink noprint"><img src="[% interface %]/[% theme %]/images/feed-icon-16x16.png" alt="Přihlásit se k odběru výsledků tohoto vyhledávání" title="Přihlásit se k odběru výsledků tohoto vyhledávání" class="rsssearchicon" /></a>
 [% END # / IF total %]
 </p>
 [% END # / IF searchdesc %]

 <div id="userresults">
 [% IF ( DidYouMean ) %]
 <div id="didyoumean">Není to co jste očekávali? Zkuste se podívat na <a href="/cgi-bin/koha/svc/suggestion?render=standalone&amp;q=[% querystring |uri %]">návrhy</a></div>
 [% END %]

 <div id="top-pages">[% INCLUDE 'page-numbers.inc' %]</div>

 [% IF ( koha_spsuggest ) %] Měli jste na mysli: <ul style="list-style: none;">
 [% FOREACH SPELL_SUGGES IN SPELL_SUGGEST %]
 <li>
 <a href="/cgi-bin/koha/opac-search.pl?q=[% SPELL_SUGGES.spsuggestion %]">[% SPELL_SUGGES.spsuggestion %]</a>
 </li>
 [% END %]
 </ul>
 [% END # / IF koha_spsuggest%]
 [% IF ( total ) %]
 [% IF ( ReturnPath ) %]
 <div class="returntosearch">
 <p><a href="[% ReturnPath %]">Vrátit se k poslednímu pokročilému vyhledávání</a></p>
 </div>
 [% END %]
 [% END %]
 [% IF ( query_error ) %]
 <div class="dialog alert">
 <h4>Chyba:</h4>
 [% query_error %]
 </div>
 [% END %]

 <!-- Search Results Table -->
 [% IF ( total ) %]

 <div class="searchresults">
 <form action="/cgi-bin/koha/opac-search.pl" method="get" name="bookbag_form" id="bookbag_form" class="checkboxed">
 [% IF ( searchdesc ) %]
 [% FOREACH QUERY_INPUT IN QUERY_INPUTS %]
 <input type="hidden" name="[% QUERY_INPUT.input_name |html %]" value="[% QUERY_INPUT.input_value |html %]"/>
 [% END %]
 [% FOREACH LIMIT_INPUT IN LIMIT_INPUTS %]
 <input type="hidden" name="[% LIMIT_INPUT.input_name |html %]" value="[% LIMIT_INPUT.input_value |html %]"/>
 [% END %]
 [% END # IF /searchdesc %]

 <div id="toolbar" class="toolbar clearfix">
 [% IF ( OpacHighlightedWords ) %]
 <div class="highlight_controls noprint">
 <a href="#" class="highlight_toggle" id="highlight_toggle_off">Zrušit zvýraznění</a>
 <a href="#" class="highlight_toggle" id="highlight_toggle_on">Zvýraznit</a>
 </div>
 [% END %]
 [% UNLESS tag %]
 <div class="sort_by pull-right">
 <select id="sort_by" class="resort" name="sort_by"> [% INCLUDE 'resort_form.inc' %] </select>
 <input value="OK" type="submit" class="btn btn-small clearfix" id="sortsubmit" />
 </div>
 [% END %]
 </div> <!-- / #toolbar -->

 <div id="selections-toolbar" class="toolbar noprint">
 <!-- checkall, clearall are now needed for placehold -->
 <span class="checkall"></span>
 <span class="clearall"></span> <span class="sep">|</span>

 <span class="links">
 [% IF ( ( Koha.Preference( 'opacbookbag' ) == 1 ) || ( Koha.Preference( 'virtualshelves' ) == 1 ) ) %]
 <span class="addto"></span>
 [% END %]
 <span id="placehold"><!-- input class="submit" type="submit" value="Place Hold"/ --></span>

 [% IF ( TagsInputEnabled && loggedinusername ) %]
 <span id="tagsel_span">
 <input class="disabled" type="submit" id="tagsel_tag" value="Pole" />
 </span>
 <div id="tagsel_form" style="display:none">
 <label for="tagsel_new">Nový štítek:</label>
 <input name="tagsel_new" id="tagsel_new" maxlength="100" />
 <input value="Vložit" class="tagsel_button btn btn-small" type="submit" id="tagsel_button" name="tagsel_button" title="Vložit" />
 <a href="#" id="tagsel_cancel">(hotovo)</a>
 </div>
 <div id="tagsel_status" class="tagsel_tatus" style="display:none;">
 Stav vkládaného štítku. </div>
 [% END %]
 </span> <!-- / .links -->
 </div> <!-- / #selections-toolbar -->

 <!-- TABLE RESULTS START -->
 <table class="table table-striped">

 <!-- Actual Search Results -->
 [% FOREACH SEARCH_RESULT IN SEARCH_RESULTS %]
 <tr>
 [% # Cell 1: Checkbox %]
 <td class="select selectcol">
 [% IF Koha.Preference( 'opacbookbag' ) == 1 %]
 <input type="checkbox" class="cb" id="bib[% SEARCH_RESULT.biblionumber %]" name="biblionumber" value="[% SEARCH_RESULT.biblionumber %]" /> <label for="bib[% SEARCH_RESULT.biblionumber %]"></label>
 [% ELSE %]
 [% IF Koha.Preference( 'virtualshelves' ) == 1 %]
 <input type="checkbox" class="cb" id="bib[% SEARCH_RESULT.biblionumber %]" name="biblionumber" value="[% SEARCH_RESULT.biblionumber %]" /> <label for="bib[% SEARCH_RESULT.biblionumber %]"></label>
 [% ELSE %]
 [% IF Koha.Preference( 'RequestOnOpac' ) == 1 %]
 [% UNLESS ( SEARCH_RESULT.norequests ) %]
 [% IF Koha.Preference( 'opacuserlogin' ) == 1 %]<input type="checkbox" class="cb" id="bib[% SEARCH_RESULT.biblionumber %]" name="biblionumber" value="[% SEARCH_RESULT.biblionumber %]" /> <label for="bib[% SEARCH_RESULT.biblionumber %]"></label>
 [% END %]
 [% END %]
 [% END # IF RequestOnOpac %]
 [% END # IF virtualshelves %]
 [% END # IF opacbookbag%]
 </td>
 [% # Cell 2: Show result number if OpacHiddenItems is empty %]
 <td class="select selectcol">
 [% UNLESS suppress_result_number %]
 [% SEARCH_RESULT.result_number %].
 [% END %]
 </td>

 [% IF ( !item_level_itypes && !noItemTypeImages ) %]
 [% # Cell 3: Show item type image %]
 <td class="itypecol">
 [% IF ( SEARCH_RESULT.imageurl ) %]
 <img src="[% SEARCH_RESULT.imageurl %]" title="[% SEARCH_RESULT.description %]" alt="[% SEARCH_RESULT.description %]" />
 [% END %]
 [% IF ( SEARCH_RESULT.score_avg ) %]
 <img src="[% themelang %]/../images/bonus.png" title="bonus" style="max-height: 35px;"/>
 [% END %]
 </td>
 [% END %]

 [% IF ( AuthorisedValueImages ) %]
 [% # Cell 4: Show Authorized value image %]
 <td class="authvalcol">
 [% FOREACH authorised_value_image IN SEARCH_RESULT.authorised_value_images %]
 [% IF ( authorised_value_image.imageurl ) %]
 <img src="[% authorised_value_image.imageurl %]" alt="[% authorised_value_image.label %]" title="[% authorised_value_image.label %]">
 [% END %]
 [% END %]
 </td>
 [% END %]

 [% # Cell 5: Search result details and controls %]
 <td class="bibliocol">
 <div class="coverimages">
 <a class="p1" href="/cgi-bin/koha/opac-detail.pl?biblionumber=[% SEARCH_RESULT.biblionumber %]">
 [% IF ( OPACLocalCoverImages ) %]
 <span title="[% SEARCH_RESULT.biblionumber |url %]" class="[% SEARCH_RESULT.biblionumber %]" id="local-thumbnail[% loop.count %]"></span>
 [% END %]
 [% IF ( OPACAmazonCoverImages ) %]
 [% IF ( SEARCH_RESULT.normalized_isbn ) %]
 [% IF ( using_https ) %]
 <span title="[% SEARCH_RESULT.biblionumber %]" id="amazon-thumbnail[% loop.count %]"><img src="https://images-na.ssl-images-amazon.com/images/P/[% SEARCH_RESULT.normalized_isbn %].01.TZZZZZZZ.jpg" alt="" class="item-thumbnail" /></span>
 [% ELSE %]
 <span title="[% SEARCH_RESULT.biblionumber %]" id="amazon-thumbnail[% loop.count %]"><img src="http://images.amazon.com/images/P/[% SEARCH_RESULT.normalized_isbn %].01.TZZZZZZZ.jpg" alt="" class="item-thumbnail" /></span>
 [% END %]
 [% ELSE %]
 <span class="no-image">Obálka není dostupná</span>
 [% END %]
 [% END %]

 [% IF ( SyndeticsEnabled && SyndeticsCoverImages ) %]
 [% IF SEARCH_RESULT.normalized_isbn %]
 [% IF ( using_https ) %]
 <span title="[% SEARCH_RESULT.biblionumber %]" id="syndetics-thumbnail[% loop.count %]"><img src="https://secure.syndetics.com/index.aspx?isbn=[% SEARCH_RESULT.normalized_isbn %]/SC.GIF&amp;client=[% SyndeticsClientCode %]&amp;type=xw10&amp;upc=[% SEARCH_RESULT.normalized_upc %]&amp;oclc=[% SEARCH_RESULT.normalized_oclc %]" alt="" class="item-thumbnail" /></span>
 [% ELSE %]
 <span title="[% SEARCH_RESULT.biblionumber %]" id="syndetics-thumbnail[% loop.count %]"><img src="http://www.syndetics.com/index.aspx?isbn=[% SEARCH_RESULT.normalized_isbn %]/SC.GIF&amp;client=[% SyndeticsClientCode %]&amp;type=xw10&amp;upc=[% SEARCH_RESULT.normalized_upc %]&amp;oclc=[% SEARCH_RESULT.normalized_oclc %]" alt="" class="item-thumbnail" /></span>
 [% END %]
 [% ELSE %]
 <span class="no-image">Obálka není dostupná</span>
 [% END %]
 [% END %]

 [% IF ( GoogleJackets ) %]
 [% IF ( SEARCH_RESULT.normalized_isbn ) %]
 <span style="block" title="[% SEARCH_RESULT.biblionumber |url %]" class="[% SEARCH_RESULT.normalized_isbn %]" id="gbs-thumbnail[% loop.count %]"></span>
 [% ELSE %]
 <span class="no-image">Obálka není dostupná</span>
 [% END %]
 [% END %]

 [% IF ( Koha.Preference('Coce') && Koha.Preference('CoceProviders') ) %]
 [% coce_id = SEARCH_RESULT.normalized_ean || SEARCH_RESULT.normalized_isbn %]
 [% IF ( coce_id ) %]
 <span style="block" title="[% SEARCH_RESULT.biblionumber |url %]" class="[% coce_id %]" id="coce-thumbnail[% loop.count %]"></span>
 [% ELSE %]
 <span class="no-image">Obálka není dostupná</span>
 [% END %]
 [% END %]

 [% IF OpenLibraryCovers %]
 [% IF SEARCH_RESULT.normalized_isbn %]
 <span style="block" title="[% SEARCH_RESULT.biblionumber %]" class="[% SEARCH_RESULT.normalized_isbn %]" id="openlibrary-thumbnail[% loop.count %]"></span>
 [% ELSE %]
 <span class="no-image">Obálka není dostupná</span>
 [% END %]
 [% END %]

 [% IF ( BakerTaylorEnabled && !BakerTaylorBookstoreURL ) %]
 [% IF ( SEARCH_RESULT.normalized_isbn ) %]
 <img src="[% BakerTaylorImageURL |html %][% SEARCH_RESULT.normalized_isbn %]" alt="Podívat se na Baker & Taylor" />
 [% ELSE %]
 <span class="no-image">Obálka není dostupná</span>
 [% END %]
 [% END %]
 </a>

 [% IF ( BakerTaylorEnabled && BakerTaylorBookstoreURL ) %]
 [% IF ( SEARCH_RESULT.normalized_isbn ) %]
 <a href="https://[% BakerTaylorBookstoreURL |html %][% SEARCH_RESULT.normalized_isbn %]">
 <img alt="Podívat se na Baker & Taylor" src="[% BakerTaylorImageURL |html %][% SEARCH_RESULT.normalized_isbn %]" />
 </a>
 [% ELSE %]
 <span class="no-image">Obálka není dostupná</span>
 [% END %]
 [% END %]

 [% IF ( IDreamBooksResults && SEARCH_RESULT.normalized_isbn ) %]
 <div class="idbresult" style="display: none;">
 [% IF ( IDreamBooksReviews ) %]
 <a href="/cgi-bin/koha/opac-detail.pl?biblionumber=[% SEARCH_RESULT.biblionumber %]#idb_critic_reviews">
 [% ELSE %]
 <a href="/cgi-bin/koha/opac-detail.pl?biblionumber=[% SEARCH_RESULT.biblionumber %]">
 [% END %]
 [% SEARCH_RESULT.normalized_isbn %]</a>
 </div>
 [% END %]
 </div>
 [% IF ( COinSinOPACResults && SEARCH_RESULT.coins ) %]
 <!-- COinS / Openurl -->
 <span class="Z3988" title="[% SEARCH_RESULT.coins %]"></span>
 [% END %]

 [% IF ( OPACXSLTResultsDisplay ) %]
 [% SEARCH_RESULT.XSLTResultsRecord %]
 [% ELSE %]
 [% IF ( BiblioDefaultViewmarc ) %]
 <a title="Zobrazit podrobnosti" href="/cgi-bin/koha/opac-MARCdetail.pl?biblionumber=[% SEARCH_RESULT.biblionumber |url %]" class="title">
 [% ELSE %]
 [% IF ( BiblioDefaultViewisbd ) %]
 <a title="Zobrazit podrobnosti" class="title" href="/cgi-bin/koha/opac-ISBDdetail.pl?biblionumber=[% SEARCH_RESULT.biblionumber |url %]">
 [% ELSE %]
 <a href="/cgi-bin/koha/opac-detail.pl?biblionumber=[% SEARCH_RESULT.biblionumber |url %]" class="title" title="Zobrazit podrobnosti">
 [% END %] [% END %] [% IF ( SEARCH_RESULT.title ) %] [% SEARCH_RESULT.title |html %] [% ELSE %] Bez názvu [% END %] [% FOREACH subtitl IN SEARCH_RESULT.subtitle %] , [% subtitl.subfield|html %] [% END %]</a>

 [% IF ( SEARCH_RESULT.author ) %] od <a class="author" href="/cgi-bin/koha/opac-search.pl?q=au:[% SEARCH_RESULT.author |url %]" title="Hledat díla tohoto autora">[% SEARCH_RESULT.author %]</a>
 [% ELSE %]
 &nbsp;
 [% END %]

 <span class="results_summary publisher">
 <span class="label">Vydání:</span>
 [% IF ( SEARCH_RESULT.place ) %][% SEARCH_RESULT.place %] [% END %]
 [% IF ( SEARCH_RESULT.publishercode ) %][% SEARCH_RESULT.publishercode|html %][% END %]
 [% IF ( SEARCH_RESULT.publicationyear ) %]
 [% SEARCH_RESULT.publicationyear %]
 [% ELSE %]
 [% IF ( SEARCH_RESULT.copyrightdate ) %]
 [% SEARCH_RESULT.copyrightdate %]
 [% END %]
 [% END %]
 [% IF ( SEARCH_RESULT.pages ) %]. [% SEARCH_RESULT.pages %][% END %]
 [% IF ( SEARCH_RESULT.notes ) %], [% SEARCH_RESULT.notes|html %][% END %]
 [% IF ( SEARCH_RESULT.size ) %] [% SEARCH_RESULT.size %][% END %]
 [% IF ( SEARCH_RESULT.timestamp ) %] <i>(změněno [% SEARCH_RESULT.timestamp %])</i>[% END %]
 </span>

 [% IF ( SEARCH_RESULT.summary ) %]
 <span class="result_summary">
 [% SEARCH_RESULT.summary %]
 </span>
 [% END %]

 [% IF ( SEARCH_RESULT.copyrightdate ) %]
 <span class="results_summary date">
 <span class="label">Datum:</span>
 [% SEARCH_RESULT.copyrightdate %]
 </span>
 [% END %]

 <span class="results_summary">
 <span class="label">Dostupnost:</span>
 [% IF ( SEARCH_RESULT.available_items_loop.size() ) %]
 <span class="available"><strong>Dostupné jednotky:</strong>
 [% FOREACH available_items_loo IN SEARCH_RESULT.available_items_loop %]
 [% IF available_items_loo.this_branch %]
 <span class="highlight-row-results">
 [% ELSE %]
 <span>
 [% END %]

 [% IF ( singleBranchMode ) %]
 [% available_items_loo.location %]
 [% ELSE %]
 [% available_items_loo.branchname %]
 [% END %]

 [% IF ( OPACItemsResultsDisplay ) %]
 [% UNLESS ( singleBranchMode ) %][% available_items_loo.location %][% END %]
 [% IF ( available_items_loo.itemcallnumber ) %][<a href="/cgi-bin/koha/opac-search.pl?q=callnum:[% available_items_loo.itemcallnumber |url %]">[% available_items_loo.itemcallnumber %]</a>][% END %]
 [% END %]
 ([% available_items_loo.count %]),
 </span>
 [% END # / FOREACH available_items_loo %]
 </span>
 [% ELSE %]
 [% IF ( SEARCH_RESULT.ALTERNATEHOLDINGS ) %]
 [% FOREACH ALTERNATEHOLDING IN SEARCH_RESULT.ALTERNATEHOLDINGS %]
 &nbsp;<span id="alternateholdings">[% ALTERNATEHOLDING.holding %]</span>,
 [% END %]
 [% ELSE %]
 <span class="unavailable">Žádné dostupné jednotky:</span>
 [% END %]
 [% END # / IF SEARCH_RESULT.available_items_loop.size %]

 <span class="unavailable">
 [% IF ( SEARCH_RESULT.onloancount ) %] Vypůjčeno ([% SEARCH_RESULT.onloancount %]), [% END %] [% IF ( SEARCH_RESULT.withdrawncount ) %] Zrušeno ([% SEARCH_RESULT.withdrawncount %]), [% END %] [% UNLESS ( SEARCH_RESULT.hidelostitems ) %][% IF ( SEARCH_RESULT.itemlostcount ) %] Ztraceno ([% SEARCH_RESULT.itemlostcount %]),[% END %][% END %] [% IF ( SEARCH_RESULT.damagedcount ) %] Poškozeno ([% SEARCH_RESULT.damagedcount %]),[% END %] [% IF ( SEARCH_RESULT.orderedcount ) %] Objednáno ([% SEARCH_RESULT.orderedcount %]),[% END %] [% IF ( SEARCH_RESULT.onholdcount ) %] Rezervováno ([% SEARCH_RESULT.onholdcount %]),[% END %] [% IF ( SEARCH_RESULT.intransitcount ) %] Na cestě ([% SEARCH_RESULT.intransitcount %]),[% END %] </span>
 </span> <!-- / .results_summary -->
 [% END # / IF OPACXSLTResultsDisplay %]

 [% IF ( SEARCH_RESULT.score_avg ) %]
 <div class="results_summary">
 [% FOREACH i  IN [ 1 2 3 4 5  ] %]
 [% IF ( SEARCH_RESULT.score_int >= i ) %]
 <div class="star-rating rater-[% i %] star star-rating-applied star-rating-readonly star-rating-on"><a title="[% i %]">[% i %]</a></div>
 [% ELSE   %]
 <div class="star-rating rater-[% i %] star star-rating-applied star-rating-readonly"><a title="[% i %]">[% i %]</a></div>
 [% END %]
 [% END %]
 <span id="babeltheque-rating_total_[% SEARCH_RESULT.biblionumber %]">&nbsp;&nbsp; [% SEARCH_RESULT.score_avg %] / 5 (počet hodnocení: [% SEARCH_RESULT.num_scores %])</span>

 [% IF ( SEARCH_RESULT.num_critics ) %]
 <span class="social_data">[% SEARCH_RESULT.num_critics %] Kritika uživatelů internetu</span>
 [% END %]
 [% IF ( SEARCH_RESULT.num_critics_pro ) %]
 <span class="social_data">[% SEARCH_RESULT.num_critics_pro %] Profesionální kritika</span>
 [% END %]
 [% IF ( SEARCH_RESULT.num_videos ) %]
 <span class="social_data">[% SEARCH_RESULT.num_videos %] Video ukázky</span>
 [% END %]
 [% IF ( SEARCH_RESULT.num_quotations ) %]
 <span class="social_data">[% SEARCH_RESULT.num_quotations %] Citace</span>
 [% END %]
 </div> <!-- / .results_summary -->
 [% END # / IF SEARCH_RESULT.score_avg %]

 [% IF ( LibraryThingForLibrariesID ) %]
 <div class="ltfl_reviews"></div>
 [% END %]

 [% IF ( TagsShowEnabled && SEARCH_RESULT.TagLoop.size ) %]
 <div class="results_summary tags">
 <span class="label">Pole:</span>
 <ul>
 [% FOREACH TagLoo IN SEARCH_RESULT.TagLoop %]
 <li>
 <a href="/cgi-bin/koha/opac-search.pl?tag=[% TagLoo.term |url %]&amp;q=[% TagLoo.term |url %]">[% TagLoo.term %]</a>
 <span class="weight">([% TagLoo.weight_total %])</span>
 </li>
 [% END %]
 </ul>
 </div>
 [% END %]

 [% IF ( SEARCH_RESULT.searchhighlightblob ) %]
 <span class="results_summary">
 <span class="label">Shoduje se:</span>
 [% SEARCH_RESULT.searchhighlightblob %]
 </span>
 [% END %]

 [% IF ( OpacStarRatings == 'all' ) %]
 <div class="results_summary ratings">
 [% FOREACH i  IN [ 1 2 3 4 5  ] %]
 [% IF ( SEARCH_RESULT.rating_avg == i ) %]
 <input class="star" type="radio"  name="rating-[% SEARCH_RESULT.biblionumber %]" value="[% i %]" checked="checked" disabled="disabled"   />
 [% ELSE   %]
 <input class="star" type="radio"  name="rating-[% SEARCH_RESULT.biblionumber %]" value="[% i %]" disabled="disabled"   />
 [% END %]
 [% END %]

 <input type="hidden" name="biblionumber"  value="[% SEARCH_RESULT.biblionumber %]" />
 <input type="hidden" name="loggedinuser"  value="[% loggedinuser %]" />

 [% IF SEARCH_RESULT.rating_total && SEARCH_RESULT.rating_total > 0  %]
 <span id="rating_total_[% SEARCH_RESULT.biblionumber %]">&nbsp;&nbsp;([% SEARCH_RESULT.rating_total %] hlasů)</span>
 [% ELSE %]
 <br />
 [% END %]
 </div> <!-- / .results_summary -->
 [% END # / IF OpacStarRatings %]

 <div class="actions-menu noprint">
 [% IF Koha.Preference( 'RequestOnOpac' ) == 1 %]
 [% UNLESS ( SEARCH_RESULT.norequests ) %]
 [% IF ( Koha.Preference( 'opacuserlogin' ) == 1 ) %]
 <span class="actions"><a class="hold" href="/cgi-bin/koha/opac-reserve.pl?biblionumber=[% SEARCH_RESULT.biblionumber %]">Rezervovat</a></span><!-- add back when available 0 holds in queue-->
 [% END # / IF opacuserlogin && holdable %]
 [% END # UNLESS SEARCH_RESULT.norequests %]
 [% END # IF RequestOnOpac %]

 [% IF ( TagsInputEnabled ) %]
 [% IF ( loggedinusername ) %]
 <span class="actions"><a class="tag_add" id="tag_add[% SEARCH_RESULT.biblionumber %]" href="#">Vložit štítek</a></span>
 <div id="tagform[% SEARCH_RESULT.biblionumber %]" class="tag_results_input" style="display:none;">
 <label for="newtag[% SEARCH_RESULT.biblionumber %]">Nový štítek nebo štítky oddělené čárkou:</label>
 <input type="text" name="newtag[% SEARCH_RESULT.biblionumber %]" id="newtag[% SEARCH_RESULT.biblionumber %]" class="newtag" maxlength="100" />
 <input title="[% SEARCH_RESULT.biblionumber %]" name="tagbutton" value="Vložit" type="submit" class="btn btn-small tagbutton" />
 <a class="cancel_tag_add" id="cancel[% SEARCH_RESULT.biblionumber %]" href="#">(hotovo)</a>
 </div>
 <span id="newtag[% SEARCH_RESULT.biblionumber %]_status" class="tagstatus" style="display:none;">
 Stav vkládaného štítku. </span>
 [% ELSIF ( loop.first ) %]
 <span class="actions"><span id="login4tags">Pro přidávání štítků je nutné být přihlášený.</span></span>
 [% END # IF loggedinusername %]
 [% END # if TagsInputEnabled %]

 [% IF ( ( Koha.Preference( 'opacuserlogin' ) == 1 ) && loggedinusername && ( Koha.Preference( 'virtualshelves' ) == 1 ) ) %]
 <span class="actions"><a class="addtoshelf" href="/cgi-bin/koha/opac-addbybiblionumber.pl?biblionumber=[% SEARCH_RESULT.biblionumber %]" onclick="Dopop('opac-addbybiblionumber.pl?biblionumber=[% SEARCH_RESULT.biblionumber %]'); return false;">Uložit do seznamů</a></span>
 [% END %]

 [% IF Koha.Preference( 'opacbookbag' ) == 1 %]
 [% IF ( SEARCH_RESULT.incart ) %]
 <span class="actions"><a class="addtocart cart[% SEARCH_RESULT.biblionumber %]" href="#" onclick="addRecord('[% SEARCH_RESULT.biblionumber %]'); return false;">V košíku</a> <a class="cartRemove cartR[% SEARCH_RESULT.biblionumber %]" href="#" onclick="delSingleRecord('[% SEARCH_RESULT.biblionumber %]'); return false;">(odstranit)</a></span>
 [% ELSE %]
 <span class="actions"><a class="addtocart cart[% SEARCH_RESULT.biblionumber %]" href="#" onclick="addRecord('[% SEARCH_RESULT.biblionumber %]'); return false;">Vložit do seznamu</a> <a style="display:none;" class="cartRemove cartR[% SEARCH_RESULT.biblionumber %]" href="#" onclick="delSingleRecord('[% SEARCH_RESULT.biblionumber %]'); return false;">(odstranit)</a></span>
 [% END %]
 [% END # / IF opacbookbag %]
 </div>
 </td>
 </tr>
 [% END # / FOREACH SEARCH_RESULT %]
 </table>
 </form> <!-- / #bookbag_form -->

 <form id="hold_form" name="hold_form" method="get" action="/cgi-bin/koha/opac-reserve.pl">
 <!-- The value will be set by holdBiblioNums() in basket.js -->
 <input id="hold_form_biblios" type="hidden" name="biblionumbers" value=""/>
 </form>
 </div> <!-- / .searchresults -->

 <div id="bottom-pages">[% INCLUDE 'page-numbers.inc' %]</div>

 [% END # / IF total %]

 [% IF Koha.Preference( 'suggestion' ) == 1 %]
 [% IF Koha.Preference( 'AnonSuggestions' ) == 1 %]
 <div class="suggestion">Nenašli jste co jste hledali?<br /> Máte tip na knihu, kterou nemáme? <a href="/cgi-bin/koha/opac-suggestions.pl?op=add">Pošlete nám návrh na její nákup.</a></div>
 [% ELSE %]
 [% IF ( loggedinusername ) %]
 <div class="suggestion">
 Nenašli jste co jste hledali?<br /> Máte tip na knihu, kterou nemáme? <a href="/cgi-bin/koha/opac-suggestions.pl?op=add">Pošlete nám návrh na její nákup.</a>
 </div>
 [% END %]
 [% END %]
 [% END %]
 </div> <!-- / #userresults -->
 </div> <!-- /.span10/12 -->
 </div> <!-- / .row-fluid -->
 </div> <!-- / .container-fluid -->
 </div><!-- / .main -->

[% INCLUDE 'opac-bottom.inc' %]
[% BLOCK jsinclude %]
[% IF ( LibraryThingForLibrariesID ) %]
 [% IF ( using_https ) %]
 <script src="https://ltfl.librarything.com/forlibraries/widget.js?id=[% LibraryThingForLibrariesID %]&amp;systype=koha" type="text/javascript"></script>
 [% ELSE %]
 <script src="http://ltfl.librarything.com/forlibraries/widget.js?id=[% LibraryThingForLibrariesID %]&amp;systype=koha" type="text/javascript"></script>
 [% END %]
[% END %]
[% IF ( OpacStarRatings == 'all' || Koha.Preference('Babeltheque') ) %]<script type="text/javascript" src="[% interface %]/[% theme %]/lib/jquery/plugins/jquery.rating.js"></script>[% END %]
[% IF ( OverDriveEnabled ) %]<script type="text/javascript" src="[% interface %]/[% theme %]/js/overdrive.js"></script>[% END %]
<script type="text/javascript" src="[% interface %]/[% theme %]/lib/jquery/plugins/jquery.checkboxes.min.js"></script>
[% IF ( OpacHighlightedWords ) %]<script type="text/javascript" src="[% interface %]/[% theme %]/lib/jquery/plugins/jquery.highlight-3.js"></script>
[% END %]<script type="text/javascript">
//<![CDATA[
[% IF ( Koha.Preference( 'opacuserlogin' ) == 1 ) && ( Koha.Preference( 'RequestOnOpac' ) == 1 ) %]
function holdMultiple() {
    var checkedBiblioNums = ""; // Separated by "/"
    var checkedCount = 0;
    if(document.bookbag_form.biblionumber.length > 0) {
        for (var i=0; i < document.bookbag_form.biblionumber.length; i++) {
            if (document.bookbag_form.biblionumber[i].checked) {
                checkedBiblioNums += (document.bookbag_form.biblionumber[i].value + "/");
                checkedCount++;
            }
        }
    }

    if (checkedCount > 0) {
        holdBiblioNums(checkedBiblioNums);
    } else {
        alert(MSG_NO_RECORD_SELECTED);
    }
}

function holdBiblioNums(numList) {
    // numList: biblio numbers separated by "/"
    $("#hold_form_biblios").attr("value", numList);
    $("#hold_form").submit();
}[% END %]

[% IF ( TagsInputEnabled && loggedinusername ) %]
function tagSelected() {
    var checkedBoxes = $(".searchresults :checkbox:checked");
    if ($(checkedBoxes).size() == 0) {
        alert(MSG_NO_RECORD_SELECTED);
    } else {
        $("#tagsel_tag").hide();
        $(".resort").hide();
        $("#tagsel_form").show();
    }
}

function tagCanceled() {
    $("#tagsel_form").hide();
    $("#tagsel_tag").show();
    $(".resort").show();
    $("#tagsel_new").val("");
    $("#tagsel_status, .tagstatus").empty().hide();
}

function tagAdded() {
    var checkedBoxes = $(".searchresults :checkbox:checked");
    if ($(checkedBoxes).size() == 0) {
        alert(MSG_NO_RECORD_SELECTED);
        return false;
    }

    var tag = $("#tagsel_new").val();
    if (!tag || (tag == "")) {
        alert(MSG_NO_TAG_SPECIFIED);
        return false;
    }

    var bibs = [];
    for (var i = 0; i < $(checkedBoxes).size(); i++) {
        var box = $(checkedBoxes).get(i);
        bibs[i] = $(box).val();
    }

    KOHA.Tags.add_multitags_button(bibs, tag);
    return false;
}[% END %]


function enableCheckboxActions(){
    // Enable/disable controls if checkboxes are checked
    var checkedBoxes = $(".checkboxed input:checkbox:checked");
    var controls = $("#selections-toolbar .links a, #selections-toolbar .links input, #selections-toolbar .links select, , #selections-toolbar .links label")
    if ($(checkedBoxes).size()) {
      $("#selections").html(_("Vybrané tituly: "));
      $(controls).removeClass("disabled");
    } else {
      $("#selections").html(_("Vybrané záznamy: "));
      $(controls).addClass("disabled");
    }
}

[% IF ( OpacHighlightedWords ) %]
var q_array = new Array();  // holds search terms if available

function highlightOff() {
    $("td").removeHighlight();
    $(".highlight_toggle").toggle();
}
function highlightOn() {
    var x;
    for (x in q_array) {
        q_array[x] = q_array[x].replace(/\w*:([\w])/, "$1");
        q_array[x] = q_array[x].toLowerCase();
        var myStopwords = "[% Koha.Preference('NotHighlightedWords') %]".toLowerCase().split('|');
        if ( (q_array[x].length > 0) && ($.inArray(q_array[x], myStopwords) == -1) ) {
            $(".title").highlight(q_array[x]);
            $(".author").highlight(q_array[x]);
            $(".results_summary").highlight(q_array[x]);
        }
    }
    $(".highlight_toggle").toggle();
}
[% END %]
$(document).ready(function(){
    [% IF ( OpacHighlightedWords ) %]
        $('a.title').each(function() {
            $(this).attr("href", $(this).attr("href") + "&query_desc=[% query_desc | uri %]");
        });
    [% END %]

    $(".cb").click(function(){
      enableCheckboxActions();
    });
    enableCheckboxActions();

    [% IF ( IDreamBooksResults ) %]
        $('.idbresult').each(function() {
            var isbn = $(this).children('a').text().replace(/\s*/,'');
            var element = this;

            if ($.browser.msie && parseInt($.browser.version, 10) >= 8 && window.XDomainRequest) {
            // Use Microsoft XDR for IE version 8 or above
                var xdr = new XDomainRequest();
                xdr.open("get", "http://idreambooks.com/newbooks/api.json?q="+encodeURIComponent(isbn)+"&key=8bf66516232d1b72f3e47df939653e1e");
                xdr.onload = function() {
                    json = 'json = '+xdr.responseText; // the string now looks like..  json = { ... };
                    eval(json); // json is now a regular JSON object
                    if(json.total_results > 0 && json.book.rating > 0){
                        $(element).children('a').html("<img src='"+json.book.to_read_or_not_small+"' alt='"+json.book.title+_(" od ")+json.book.author+"' title='"+_("Hodnocení podle recenzí na ")+json.book.title+"'>"+json.book.rating+"%");
                        $(element).show();
                    } else {
                        $(element).remove();
                    }
                }
                xdr.send();
            } else {
                $.getJSON("http://idreambooks.com/newbooks/api.json?q="+encodeURIComponent(isbn)+"&key=8bf66516232d1b72f3e47df939653e1e", function(json){
                    if(json.total_results > 0 && json.book.rating > 0){
                        $(element).children('a').html("<img src='"+json.book.to_read_or_not_small+"' alt='"+json.book.title+_(" od ")+json.book.author+"' title='"+_("Hodnocení podle recenzí na ")+json.book.title+"'>"+json.book.rating+"%");
                        $(element).show();
                    } else {
                        $(element).remove();
                    }
                });
            }
        });
    [% END %]

    var param1 = "";
    [% IF ( ( Koha.Preference( 'opacbookbag' ) == 1 ) || ( Koha.Preference( 'virtualshelves' ) == 1 ) || loggedinusername ) %]
    param1 += "<span id=\"selections\">"+_("Vybrané záznamy: ")+"</span>";
    [% END %]

[% IF Koha.Preference( 'opacbookbag' ) == 1 %]
    [% IF Koha.Preference( 'virtualshelves' ) == 1 %]
    param1 += "<select class=\"disabled\" name=\"addto\" id=\"addto\"><option>"+_("Vložit do...")+"</option>";
    [% IF Koha.Preference( 'opacbookbag' ) == 1 %]    param1 += "<option value=\"addtocart\">"+_("Košík")+"<\/option>";
    [% END %][% IF Koha.Preference( 'virtualshelves' ) == 1 %][% IF ( loggedinusername ) %][% IF ( addbarshelves ) %]
    param1 += "<optgroup label=\""+_("Vaše seznamy:")+"\">";[% FOREACH addbarshelvesloo IN addbarshelvesloop %]
    param1 += "<option id=\"s[% addbarshelvesloo.shelfnumber %]\" value=\"addtolist\">[% addbarshelvesloo.shelfname |html %]<\/option>";[% END %]
    param1 += "<\/optgroup>";[% END %]
    [% IF ( addpubshelves ) %]param1 += "<optgroup label=\""+_("Veřejné seznamy:")+"\">"[% FOREACH addpubshelvesloo IN addpubshelvesloop %]+"<option id=\"s[% addpubshelvesloo.shelfnumber %]\" value=\"addtolist\">[% addpubshelvesloo.shelfname |html %]<\/option>"[% END %];
    param1 += "<\/optgroup>";[% END %]
    [% IF (( addbarshelvesloop && addbarshelvesloop.size>9) || (addpubshelvesloop && addpubshelvesloop.size>9 )) %]
        param1 += "<option value=\"morelists\">[ "+_("Více seznamů")+" ]<\/option>";
    [% END %]
    param1 += "<option value=\"newlist\">[ "+_("Nový seznam")+" ]<\/option>";
    [% END %]
    [% END %]
    param1 += "<\/select> <input type=\"submit\" class=\"btn btn-small\" value=\""+_("Uložit")+"\" />";
    [% ELSE %]
        param1 += "<a id=\"addto\" class=\"addtocart\" href=\"#\">" + _("Vložit do seznamu") + "<\/a>";
    [% END %]
[% ELSE %]
        param1 += "<select name=\"addto\" id=\"addto\"><option value=\"\">"+_("Vložit do seznamu: ")+"<\/option>";
[% IF Koha.Preference( 'virtualshelves' ) == 1 %][% IF ( loggedinusername ) %][% IF ( addbarshelves ) %]
    param1 += "<optgroup label=\""+_("Vaše seznamy:")+"\">";[% FOREACH addbarshelvesloo IN addbarshelvesloop %]
    param1 += "<option id=\"s[% addbarshelvesloo.shelfnumber %]\" value=\"addtolist\">[% addbarshelvesloo.shelfname |html %]<\/option>";[% END %]
    param1 += "<\/optgroup>";[% END %]
    [% IF ( addpubshelves ) %]param1 += "<optgroup label=\""+_("Veřejné seznamy:")+"\">"[% FOREACH addpubshelvesloo IN addpubshelvesloop %]+"<option id=\"s[% addpubshelvesloo.shelfnumber %]\" value=\"addtolist\">[% addpubshelvesloo.shelfname |html %]<\/option>"[% END %][% END %]
    param1 +="<\/optgroup><option value=\"newlist\">[ "+_("Nový seznam")+" ]<\/option>"
    [% END %]
    [% END %]
    param1 += "<\/select> <input type=\"submit\" class=\"btn btn-small disabled\" value=\""+_("Uložit")+"\" />";
[% END %]

    $('#sortsubmit').hide();
    $('.resort').change(function() {
        $('#bookbag_form').submit();
    });
    $("span.clearall").html("<a id=\"CheckNone\" href=\"#\">"+_("Odebrat označení")+"<\/a>");
    $("span.checkall").html("<a id=\"CheckAll\" href=\"#\">"+_("Označit vše")+"<\/a>");

[% IF Koha.Preference( 'opacbookbag' ) == 1 %]
    $("span.addto").html(param1);
[% ELSE %]
    [% IF ( ( Koha.Preference( 'virtualshelves' ) == 1 ) && loggedinusername ) %]
        $("span.addto").html(param1);
    [% END %]
[% END %]

[% IF ( ( Koha.Preference( 'opacbookbag' ) == 1 ) || ( Koha.Preference( 'virtualshelves' ) == 1 ) ) %]
    [% IF Koha.Preference( 'virtualshelves' ) == 1 %]
        $("#addto").on("change",function(){
            cartList();
        });
        $(".addto").find("input:submit").click(function(){
            cartList();
            return false;
        });
    [% ELSE %]
        $("#addto").on("click",function(){
            cartList();
            return false;
        });
    [% END %]
[% END %]

    function cartList(){
        addtoOption = $("#addto").find("option:selected");
        addtoval = addtoOption.val();
        if(addtoval == "addtolist"){
            var shelfnumber = addtoOption.attr("id").replace("s","");
            if (vShelfAdd()) {
                Dopop('/cgi-bin/koha/opac-addbybiblionumber.pl?selectedshelf='+shelfnumber+'&' + vShelfAdd());
            }
            return false;
        } else if(addtoval == "newlist"){
            [% IF ( loggedinusername ) %]if (vShelfAdd()) {
                Dopop('/cgi-bin/koha/opac-addbybiblionumber.pl?newshelf=1&' + vShelfAdd());
            }[% ELSE %]
                alert(_("Pro vytváření nebo úpravu seznamů musíte být přihlášeni"));
            [% END %]
            return false;
        } else if(addtoval == "morelists"){
            [% IF ( loggedinusername ) %]
                if (vShelfAdd()) {
                    Dopop('/cgi-bin/koha/opac-addbybiblionumber.pl?' + vShelfAdd());
                }
            [% ELSE %]
                alert(_("Pro vytváření nebo úpravu seznamů musíte být přihlášeni"));
            [% END %]
            return false;
        }
        if(addtoval == "addtocart" || $("#addto").attr("class") == "addtocart"){
            addMultiple();
            return false;
         }
    }
    $("#CheckAll").click(function(){
        $("#bookbag_form").checkCheckboxes();
        enableCheckboxActions();
        return false;
    });
    $("#CheckNone").click(function(){
        $("#bookbag_form").unCheckCheckboxes();
        enableCheckboxActions();
        return false;
    });

[% IF ( ( Koha.Preference( 'RequestOnOpac' ) == 1 ) && ( Koha.Preference( 'opacuserlogin' ) == 1 ) && DisplayMultiPlaceHold ) %]
    $("#placehold").html("<input class=\"hold disabled\" type=\"submit\" value=\""+_("Rezervovat")+"\"/>");
    $("#placehold").find("input:submit").click(function(){
        holdMultiple();
        return false;
    });
[% END %]

[% IF ( query_desc ) %]
    var query_desc = "[% query_desc |replace("'", "\'") |replace('\n', '\\n') |replace('\r', '\\r') |html %]";
    var querystring = "[% querystring |replace("'", "\'") |replace('\n', '\\n') |replace('\r', '\\r') |html %]";
    [% IF ( OpacHighlightedWords ) %]
        q_array = query_desc.split(" ");
        // ensure that we don't have "" at the end of the array, which can
        // break the highlighter
        while (q_array.length > 0 && q_array[q_array.length-1] == "") {
            q_array = q_array.splice(0,-1);
        }
        highlightOn();
        $("#highlight_toggle_on" ).hide().click(function() {highlightOn() ;});
        $("#highlight_toggle_off").show().click(function() {highlightOff();});
    [% END %]
    [% IF ( OverDriveEnabled ) %]
        var $overdrive_results = $( '<span id="overdrive-results">' + _( 'Prohledávám databázi OverDrive...' ) + ' <img class="throbber" src="[% interface %]/lib/jquery/plugins/themes/classic/throbber.gif" /></span>' );
        $( '#numresults' ) .append( ' ' )
            .append( $overdrive_results );
        KOHA.OverDrive.Search( "[% OverDriveLibraryID %]", querystring, 1, 0, function( data ) {
            if ( data.error ) {
                $overdrive_results.html( _( 'Chyba při vyhledávání v databázi OverDrive' ) );
                return;
            }

            if ( data.totalItems ) {
                $overdrive_results.html( _( 'Nalezeno' ) + ' <a href="/cgi-bin/koha/opac-overdrive-search.pl?q=' + escape( querystring ) + '">' + data.totalItems + ' ' + _( 'výsledky' ) + '</a> ' + _( 'v databázi OverDrive' ) );
            } else {
                $overdrive_results.remove();
            }
        } );
    [% END %]
[% END %]

[% IF ( TagsInputEnabled && loggedinusername ) %]
    $("#tagsel_tag").click(function(){
        tagSelected();
        return false;
    });
    $("#tagsel_cancel").click(function(){
        tagCanceled();
        return false;
    });
    $("#tagsel_button").click(function(){
        tagAdded();
        return false;
    });

    $(".tag_add").click(function(){
        var thisid = $(this).attr("id");
        thisid = thisid.replace("tag_add","");
        $(this).addClass("hidden");
        $("#tagform"+thisid).show();
        $("#newtag"+thisid).focus();
        $("#newtag"+thisid+"_status").empty().hide();
        return false;
    });
    $(".cancel_tag_add").click(function(){
        var thisid = $(this).attr("id");
        thisid = thisid.replace("cancel","");
        $("#tagform"+thisid).hide();
        $("#tag_add"+thisid).removeClass("hidden");
        $("#newtag"+thisid).val("");
        $("#newtag"+thisid+"_status").empty().hide();
        return false;
    });
    $(".tagbutton").click(function(){
        var thisid = $(this).attr("title");
        var tag = $("#newtag"+thisid).val();
        if (!tag || (tag == "")) {
            alert(MSG_NO_TAG_SPECIFIED);
            return false;
        }
        KOHA.Tags.add_tag_button(thisid, tag);
        return false;
    });
[% END %]

[% IF OpenLibraryCovers %]KOHA.OpenLibrary.GetCoverFromIsbn();[% END %]
[% IF OPACLocalCoverImages %]KOHA.LocalCover.GetCoverFromBibnumber(false);[% END %]
[% IF ( GoogleJackets ) %]KOHA.Google.GetCoverFromIsbn();[% END %]
[% IF ( Koha.Preference('Coce') && Koha.Preference('CoceProviders') ) %]
    KOHA.coce.getURL('[% Koha.Preference('CoceHost') %]', '[% Koha.Preference('CoceProviders') %]');
[% END %]

[% IF ( DidYouMean ) %]
    $("#didyoumean").load("/cgi-bin/koha/svc/suggestion?render=stub&q=[% querystring |uri %]",
        function() {
            $(".searchsuggestion").parent().parent().css({
                "border-color": "#F4ECBE",
                "background-color": "#FFFBEA"
            });
        });
[% END %]

$("input.newtag").on('keydown', function(e){
    if (e.keyCode == 13) { e.preventDefault(); }
});

});
//]]>
</script>
[% END %]
