[% USE Koha %]
[% INCLUDE 'doc-head-open.inc' %]
<title>[% IF ( LibraryNameTitle ) %][% LibraryNameTitle %][% ELSE %]Koha on-line[% END %] katalog &rsaquo; ISBD lístek</title>
[% INCLUDE 'doc-head-close.inc' %]
[% BLOCK cssinclude %][% END %]
</head>
[% INCLUDE 'bodytag.inc' bodyid='opac-isbddetail' bodyclass='scrollto' %]
[% INCLUDE 'masthead.inc' %]
<div class="main">
 <ul class="breadcrumb">
 <li><a href="/cgi-bin/koha/opac-main.pl">Koha</a> <span class="divider">&rsaquo;</span></li>
 <li><a href="#">ISBD</a></li>
 </ul>

 <div class="container-fluid">
 <div class="row-fluid">
 <div class="span9">
 <div id="opac-detail" class="maincontent">
 <div id="usermarcdetail">
 <div id="catalogue_detail_biblio">
 <div id="views">
 <span class="view"><a id="Normalview" href="/cgi-bin/koha/opac-detail.pl?biblionumber=[% biblionumber %]">Základní</a></span> <span class="view"><a id="MARCview" href="/cgi-bin/koha/opac-MARCdetail.pl?biblionumber=[% biblionumber %]">MARC</a></span> <span class="view"><span id="ISBDview">ISBD</span></span></div>

 <div id="isbdcontents">[% ISBD %]</div>

 </div> <!-- / #catalogue_detail_biblio -->
 </div> <!-- / #usermarcdetail -->
 </div> <!-- / #opac-detail -->
 </div> <!-- / .span9 -->
 <div class="span3">
 [% INCLUDE 'opac-detail-sidebar.inc' %]
 </div>
 </div> <!-- / .row-fluid -->
 </div> <!-- / .container-fluid -->
</div> <!-- / .main -->

[% INCLUDE 'opac-bottom.inc' %]
[% BLOCK jsinclude %][% END %]
