[% USE Koha %]
[% INCLUDE 'doc-head-open.inc' %]
<title>[% IF ( LibraryNameTitle ) %][% LibraryNameTitle %][% ELSE %]Koha on-line[% END %] katalog &rsaquo; Hledání "[% q | html %]" v databázi OverDrive</title>
[% INCLUDE 'doc-head-close.inc' %]
[% BLOCK cssinclude %]
<link rel="stylesheet" type="text/css" href="[% interface %]/[% theme %]/css/jquery.rating.css" />
<style>
.actions a.addtocart {
    display: inline;
}
</style>
[% END %]
</head>
[% INCLUDE 'bodytag.inc' bodyid='overdrive-results-page' bodyclass='scrollto' %]
[% INCLUDE 'masthead.inc' %]

 <div class="main">
 <ul class="breadcrumb">
 <li><a href="/cgi-bin/koha/opac-main.pl">Koha</a> <span class="divider">&rsaquo;</span></li>
 <li><a href="#">Vyhledávání "[% q | html %]" v databázi OverDrive</a></li>
 </ul>

 <div class="container-fluid">
 <div class="row-fluid">
 <div class="span2">
 [% IF ( OpacNav || OpacNavBottom ) %]
 [% INCLUDE 'navigation.inc' %]
 [% END %]
 </div>
 <div class="span10">
 <div id="overdrive-results-content" class="maincontent searchresults">
 <h1>Vyhledávání "[% q | html %]" v databázi OverDrive</h1>
 <div id="breadcrumbs">
 <p></p>
 </div>

 <div id="top-pages">
 <div class="pagination pagination-small">
 </div>
 </div>

 <table id="overdrive-results-list" class="table table-striped">
 <tbody>
 </tbody>
 </table>

 <div id="bottom-pages">
 <div class="pagination pagination-small">
 </div>
 </div>

 </div> <!-- / #overdrive-results-content -->
 </div> <!-- / .span10 -->
 </div> <!-- / .row-fluid -->
 </div> <!-- / .container-fluid -->
 </div> <!-- / .main -->

[% INCLUDE 'opac-bottom.inc' %]
[% BLOCK jsinclude %]
<script type="text/javascript" src="[% interface %]/[% theme %]/js/overdrive.js"></script>
<script type="text/javascript" src="[% interface %]/[% theme %]/lib/jquery/plugins/jquery.rating.js"></script>
<script type="text/javascript">
var querystring = "[% q |replace( "'", "\'" ) |replace( '\n', '\\n' ) |replace( '\r', '\\r' ) |html %]";
var results_per_page = [% OPACnumSearchResults %];

function fetch_availability( prod, $tr ) {
    var $availability_summary = $( '<span class="results_summary availability"></span>' );
    $tr.find( '.mediatype' ).after( $availability_summary );
    $availability_summary.html( '<span class="label">' + _("Dostupnost:") + ' </span> ' + _("Načítá se...") );

    KOHA.OverDrive.Get(
        prod.links.availability.href,
        {},
        function ( data ) {
            if ( data.error ) return;

            $availability_summary.html( '<span class="label">' + _("Dostupnost:") + ' </span> ' + '<span class="available"><b>' + _("Dostupné jednotky:") + ' </b>' +  data.copiesAvailable + " " + _("z") + ' ' + data.copiesOwned + '</span>' );

            if ( data.numberOfHolds ) {
                $availability_summary.find( '.available' ).append( ', ' + _("Čekající rezerarvace:") + ' <strong>' + data.numberOfHolds + '</strong>' );
            }

            $tr.find( '.info' ).append( '<div class="actions-menu"><span class="actions"><a href="' + prod.contentDetails[0].href + '" ' + ( data.copiesAvailable ? ( ' class="addtocart">' + _("Půjčování") ) : ( ' class="hold">' + _("Rezervovat") ) ) + '</a></span></div>' );
        }
    );
}

function search( offset ) {
    $( '#overdrive-status' ).html( _("Prohledávám databázi OverDrive...") + ' <img class="throbber" src="[% interface %]/lib/jquery/plugins/themes/classic/throbber.gif" /></span>' );

    KOHA.OverDrive.Search( "[% OverDriveLibraryID %]", querystring, results_per_page, offset, function( data ) {
        if ( data.error ) {
            $( '#overdrive-status' ).html( '<strong class="unavailable">' + _("Vyskytla se chyba při hledání v databázi OverDrive.") + '</strong>' );
            return;
        }

        if ( !data.totalItems ) {
            $( '#overdrive-status' ).html( '<strong>' + _("V databázi OverDrive nebylo nic nalezeno.") + '</strong>' );
            return;
        }

        $( '#overdrive-results-list tbody' ).empty();

        $( '#overdrive-status' ).html( '<strong>' + _("Nalezeno") + ' ' + data.totalItems + ' ' + _("výsledků v databázi OverDrive.") + '</strong>' );

        for ( var i = 0; data.products[i]; i++ ) {
            var prod = data.products[i];
            var results = [];

            results.push( '<tr>' );

            results.push( '<td class="info"><a class="title" href="', prod.contentDetails[0].href, '">' );
            results.push( prod.title );
            if ( prod.subtitle ) results.push( ', ', prod.subtitle );
            results.push( '</a>' );
            results.push( '<p>' + _("podle") + ' ', prod.primaryCreator.name, '</p>' );
            results.push( '<span class="results_summary mediatype"><span class="label">' + _("Typ:") + ' </span>', prod.mediaType, '</span>' );

            if ( prod.starRating ) {
                results.push( '<div class="results_summary ratings">' );
                for ( var rating = 1; rating <= 5; rating++ ) {
                    results.push( '<input class="star" type="radio" name="rating-' + i + '" value="' + rating + '"' + ( rating == Math.round( prod.starRating ) ? ' checked="checked"' : '' ) + ' disabled="disabled" />' );
                }
                results.push( '</div>' );
            }

            results.push( '</td>' );

            results.push( '<td>' );
            if ( prod.images.thumbnail ) {
                results.push( '<a href="', prod.contentDetails[0].href, '">' );
                results.push( '<img class="thumbnail" src="', prod.images.thumbnail.href, '" />' );
                results.push( '</a>' );
            }
            results.push( '</td>' );

            results.push( '</tr>' );
            var $tr = $( results.join( '' ));
            $( '#overdrive-results-list tbody' ).append( $tr );

            fetch_availability( prod, $tr );
        }

        $( '#overdrive-results-list tr:odd' ).addClass( 'highlight' );

        var pages = [];
        var cur_page = offset / results_per_page;
        var max_page = Math.floor( data.totalItems / results_per_page );

        if ( cur_page != 0 ) {
            pages.push( '<li><a class="od-nav" href="#" data-offset="' + (offset - results_per_page) + '">&laquo; ' + _("Předchozí") + '</a></li>' );
        }

        for ( var page = Math.max( 0, cur_page - 9 ); page <= Math.min( max_page, cur_page + 9 ); page++ ) {
            if ( page == cur_page ) {
                pages.push( ' <li class="active"><a href="#">' + ( page + 1 ) + '</a></li>' );
            } else {
                pages.push( ' <li><a class="od-nav" href="#" data-offset="' + ( page * results_per_page ) + '">' + ( page + 1 ) + '</a></li>' );
            }
        }

        if ( cur_page < max_page ) {
            pages.push( ' <li><a class="od-nav" href="#" data-offset="' + (offset + results_per_page) + '">' + _("Další") + ' &raquo;</a></li>' );
        }

        if ( pages.length > 1 ) $( '#top-pages, #bottom-pages' ).find( '.pagination' ).html( '<ul>' + pages.join( '' ) + '</ul>');

        $( '#overdrive-results-list input.star' ).rating();
    } );
}

$( document ).ready( function() {
    $( '#breadcrumbs p' )
        .append( ' ' )
        .append( '<span id="overdrive-status"></span>' );

    $( document ).on( 'click', 'a.od-nav', function() {
        search( $( this ).data( 'offset' ) );
        return false;
    });

    search( 0 );
} );
</script>
[% END %]
