[% USE Koha %]
[% USE KohaDates %]

[% INCLUDE 'doc-head-open.inc' %]
<title>[% IF ( LibraryNameTitle ) %][% LibraryNameTitle %][% ELSE %]Koha on-line[% END %] katalog &rsaquo; Vaše upomínky a poplatky</title>
[% INCLUDE 'doc-head-close.inc' %]
[% BLOCK cssinclude %][% END %]
</head>
<body id="opac-account" class="scrollto">
[% INCLUDE 'bodytag.inc' bodyid='opac-account' bodyclass='scrollto' %]
[% INCLUDE 'masthead.inc' %]

<div class="main">
 <ul class="breadcrumb">
 <li><a href="/cgi-bin/koha/opac-main.pl">Koha</a> <span class="divider">&rsaquo;</span></li>
 <li>[% FOREACH BORROWER_INF IN BORROWER_INFO %]<a href="/cgi-bin/koha/opac-user.pl">[% BORROWER_INF.firstname %] [% BORROWER_INF.surname %]</a>[% END %] <span class="divider">&rsaquo;</span></li>
 <li><a href="#">Upomínky a poplatky</a></li>
 </ul>

 <div class="container-fluid">
 <div class="row-fluid">
 <div class="span2">
 <div id="navigation">
 [% INCLUDE 'navigation.inc' IsPatronPage=1 %]
 </div>
 </div>
 <div class="span10">
 <div id="useraccount" class="maincontent">
 <h3>Upomínky a poplatky</h3>

 [% IF ( ACCOUNT_LINES ) %]
 <table class="table table-bordered table-striped">
 <thead>
 <tr>
 <th>Datum</th>
 <th>Popis</th>
 <th>Výše poplatku</th>
 <th>Neuhrazená částka</th>
 </tr>
 </thead>

 <tfoot>
 <tr>
 <th class="sum" colspan="3">Celkový dluh</th>
 <td class="sum">[% total %]</td>
 </tr>
 </tfoot>

 <tbody>
 [% FOREACH ACCOUNT_LINE IN ACCOUNT_LINES %]
 [% IF ( ACCOUNT_LINE.odd ) %]<tr class="highlight">[% ELSE %]<tr>[% END %]
 <td>[% ACCOUNT_LINE.date | $KohaDates %]</td>
 <td>
 [% SWITCH ACCOUNT_LINE.accounttype %] [% CASE 'Pay' %]Zaplaceno [% CASE 'Pay00' %]Zaplaceno (hotově přes SIP2) [% CASE 'Pay01' %]Zaplaceno (VISA přes SIP2) [% CASE 'Pay02' %]Zaplaceno (kreditní karta přes SIP2) [% CASE 'N' %]Nová karta [% CASE 'F' %]Poplatek [% CASE 'A' %]Poplatek za správu účtu [% CASE 'M' %]Různý [% CASE 'L' %]Ztracený dokument [% CASE 'W' %]Prominuto [% CASE 'FU' %]Nabíhající upomínka [% CASE 'Rent' %]Nájemné [% CASE 'FOR' %]Prominuto [% CASE 'LR' %]Vrácení poplatku za za ztrátu dokumentu [% CASE 'PAY' %]Platba [% CASE 'WO' %]Odepsáno [% CASE 'C' %]Kredit [% CASE 'CR' %]Kredit [% CASE %][% ACCOUNT_LINE.accounttype %] [%- END -%] [%- IF ACCOUNT_LINE.description %], [% ACCOUNT_LINE.description %][% END %] [% IF ACCOUNT_LINE.title %]([% ACCOUNT_LINE.title %])[% END %] </td>
 [% IF ( ACCOUNT_LINE.amountcredit ) %]<td class="credit">[% ELSE %]<td class="debit">[% END %][% ACCOUNT_LINE.amount %]</td>
 [% IF ( ACCOUNT_LINE.amountoutstandingcredit ) %]<td class="credit">[% ELSE %]<td class="debit">[% END %][% ACCOUNT_LINE.amountoutstanding %]</td>
 </tr>
 [% END %]
 </tbody>

 </table>
 [% ELSE %]
 <h4>Nemáte žádné upomínky ani jiné poplatky</h4>
 [% END %]
 </div> <!-- / #useraccount -->
 </div> <!-- / .span10 -->
 </div> <!-- / .row-fluid -->
 </div> <!-- / .container-fluid -->
</div> <!-- / .main -->

[% INCLUDE 'opac-bottom.inc' %]
[% BLOCK jsinclude %][% END %]
