[% USE Koha %]
[% INCLUDE 'doc-head-open.inc' %]
<title>[% IF ( LibraryNameTitle ) %][% LibraryNameTitle %][% ELSE %]Koha on-line[% END %] katalog &rsaquo; Čísla časopisu</title>
[% INCLUDE 'doc-head-close.inc' %]
[% BLOCK cssinclude %][% END %]
</head>
[% INCLUDE 'bodytag.inc' bodyid='opac-serials-issues' %]
[% INCLUDE 'masthead.inc' %]

 <div class="main">
 <ul class="breadcrumb">
 <li><a href="/cgi-bin/koha/opac-main.pl">Koha</a> <span class="divider">&rsaquo;</span></li>
 <li><a href="/cgi-bin/koha/opac-detail.pl?biblionumber=[% biblionumber %]">Podrobnosti pro [% bibliotitle %]</a> <span class="divider">&rsaquo;</span></li>
 <li><a href="#">Vydání periodika</a></li>
 </ul>

 <div class="container-fluid">
 <div class="row-fluid">
 [% IF ( OpacNav || OpacNavBottom ) %]
 <div class="span2">
 <div id="navigation">
 [% INCLUDE 'navigation.inc' %]
 </div>
 </div>
 <div class="span10">
 [% ELSE %]
 <div class="span12">
 [% END %]
 <div id="userserialissues">
 <h2>Vydání periodika</h2>
 <div id="views">
 <span class="view">
 <a id="Normalview" href="opac-detail.pl?biblionumber=[% biblionumber | html %]" class="button">Základní</a>
 </span>
 <span class="view"><span id="Briefhistory">Stručná historie</span></span>
 <span class="view"><a id="Fullhistory" href="opac-serial-issues.pl?selectview=full&amp;biblionumber=[% biblionumber | html%]" class="button">Celá historie</a></span>
 </div>
 <form method="post" name="f">
 [% FOREACH subscription_LOO IN subscription_LOOP %]
 <div id="subscriptionline[% subscription_LOO.subscriptionid %]" style="border-bottom:1px solid #EEE;">
 <h3>Informace o předplatném pro [% subscription_LOO.bibliotitle %]</h3>
 <p>
 Současné předplatné začalo dne [% subscription_LOO.startdate %] a vychází vždy [% IF ( subscription_LOO.periodicity1 ) %] dvakrát denně [% END %] [% IF ( subscription_LOO.periodicity2 ) %] každý den [% END %] [% IF ( subscription_LOO.periodicity3 ) %] třikrát denně [% END %] [% IF ( subscription_LOO.periodicity4 ) %] každý týden [% END %] [% IF ( subscription_LOO.periodicity5 ) %] každý druhý týden [% END %] [% IF ( subscription_LOO.periodicity6 ) %] každý třetí týden [% END %] [% IF ( subscription_LOO.periodicity7 ) %] každý měsíc [% END %] [% IF ( subscription_LOO.periodicity8 ) %] každý druhý měsíc [% END %] [% IF ( subscription_LOO.periodicity9 ) %] každé čtvrtletí [% END %] [% IF ( subscription_LOO.periodicity10 ) %] dvakrát ročně [% END %] [% IF ( subscription_LOO.periodicity11 ) %] každý rok [% END %] [% IF ( subscription_LOO.periodicity12 ) %] každý druhý rok [% END %] [% IF ( subscription_LOO.periodicity13 ) %] nepravidelně [% END %] [% IF ( subscription_LOO.arrival1 ) %] v pondělí [% END %] [% IF ( subscription_LOO.arrival2 ) %] v úterý [% END %] [% IF ( subscription_LOO.arrival3 ) %] ve středu [% END %] [% IF ( subscription_LOO.arrival4 ) %] ve čtvrtek [% END %] [% IF ( subscription_LOO.arrival5 ) %] v pátek [% END %] [% IF ( subscription_LOO.arrival6 ) %] v sobotu [% END %] [% IF ( subscription_LOO.arrival7 ) %] v neděli [% END %] po [% IF ( subscription_LOO.numberlength ) %][% subscription_LOO.numberlength %] číslech[% END %] [% IF ( subscription_LOO.weeklength ) %][% subscription_LOO.weeklength %] týdně[% END %] [% IF ( subscription_LOO.monthlength ) %][% subscription_LOO.monthlength %] měsíčně[% END %] </p>
 <p>První předplatné začalo [% subscription_LOO.histstartdate %]</p>
 [% IF ( subscription_LOO.histenddate ) %]
 <p>Předplatné vypršelo dne [% subscription_LOO.histenddate %]</p>
 [% END %]

 <h4>[% subscription_LOO.branchname %]</h4>

 [% IF ( subscription_LOO.notes ) %]
 <p>[% subscription_LOO.notes FILTER html_line_break %]</p>
 [% END %]

 [% IF ( subscription_LOO.recievedlist ) %]
 <h5>Dostupná vydání</h5>
 <p>[% subscription_LOO.recievedlist %]</p>
 [% END %]

 [% IF ( subscription_LOO.missinglist ) %]
 <h5>Nedostupná čísla</h5>
 <p>[% subscription_LOO.missinglist %]</p>
 [% END %]

 [% IF ( subscription_LOO.opacnote ) %]
 <h5>Přehled čísel periodik</h5>
 <p>
 [% subscription_LOO.opacnote FILTER html_line_break %]
 </p>
 [% END %] [% IF ( subscription_LOO.letter ) %] [% IF ( loggedinusername ) %] [% IF ( subscription_LOO.hasalert ) %] Přihlásili jste se k odběru e-mailových oznámení o novinkách ve fondu knihovny <a class="btn" href="opac-alert-subscribe.pl?op=cancel&externalid=[% subscription_LOO.subscriptionid %]&alerttype=issue&biblionumber=[% subscription_LOO.biblionumber %]" title="Zrušit e-mailové oznámení">
 Zrušit e-mailové oznámení </a>
 [% ELSE %]
 <a class="btn" href="opac-alert-subscribe.pl?externalid=[% subscription_LOO.subscriptionid %]&alerttype=issue&biblionumber=[% subscription_LOO.biblionumber %]" title="Přihlásit se k odběru e-mailových oznámení o nových číslech">
 Přihlásit se k odběru e-mailových oznámení o nových číslech </a>
 [% END %] [% ELSE %] Pro nastavení odběru upozornění na nová čísla periodik musíte být přihlášeni [% END %] [% END %] </div> <!-- / #subscriptionline* -->
 [% END # FOREACH subscription_LOO %]
 </form>
 </div> <!-- / #userserialissues -->
 </div> <!-- / .span10/12 -->
 </div> <!-- / .row-fluid -->
 </div> <!-- / .container-fluid -->
 </div> <!-- / .main -->

[% INCLUDE 'opac-bottom.inc' %]
[% BLOCK jsinclude %][% END %]
